@import molecules/textos

header
	min-height: 765px !important
	margin: 0 0 25px

	background:
		image: url("../images/slide_quem_somos.jpg")
		position: top center
		repeat: no-repeat
		attachment: fixed

	h1 
		margin-top: 260px !important
		color: $preto


main
	.textos
		h2
			+breakpoint($tablet)
				+font-size(50px)
			+breakpoint($celular)
				+font-size(40px)

		p 
			+breakpoint($tablet)
				+font-size(26px)
			+breakpoint($celular)
				+font-size(20px)

